/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */
@config "./../../.tailwindrc.cjs";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vp-sidebar-width: 250px;
  --vp-layout-max-width: 1200px;
}
.text {
  font-size: 0.6rem !important;
}
.aside {
  padding-left: 0 !important;
  &,
  & * {
    font-size: 0.6rem !important;
    max-width: 150px !important;
  }
}
.VPHome {
  &,
  .VPHero {
    padding-bottom: 0 !important;
  }
  .container {
    max-width: var(--vp-layout-max-width) !important;
    padding: 0 32px;
  }
}
