/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --vp-sidebar-width: 250px;
  --vp-layout-max-width: 1200px;

  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}
.text {
  font-size: 0.8rem !important;
}
.nav:not(:has(.post)) {
  .group {
    border-top: none;
  }
  .group:not(:has(.has-active)) {
    display: none;
  }
}
.aside {
  padding-left: 0 !important;
  &,
  & * {
    font-size: 0.8rem !important;
    max-width: 150px !important;
  }
}
.VPHome {
  .container {
    max-width: calc(var(--vp-layout-max-width) - 64px) !important;
  }
}
